@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:opsz@9..40&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 0.3em;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #64b5f6;
  border-radius: 1em;
  height: 0.3em;
  width: 0.3em;
}

@layer components {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

* {
  font-family: "DM Sans";
}
